<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Primer Familiar</h5>
          <p class="card-text">Nombre :  {{familia1.name}}<br>
            Edad: La edad del familiar es: {{familia1.edad}}<br>
            Fecha de Nacimiento: {{familia1.nacimiento}}
          </p>
          <a href="/admin/" class="btn btn-primary">Administrador/</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Segundo Familiar</h5>
          <p class="card-text">Nombre :  {{familia2.name}}<br>
            Edad: La edad del familiar es: {{familia2.edad}}<br>
            Fecha de Nacimiento: {{familia2.nacimiento}}</p>
          <a href="/admin/" class="btn btn-primary">Administrador</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tercer Familiar</h5>
          <p class="card-text">Nombre :  {{familia3.name}}<br>
            Edad: La edad del familiar es: {{familia3.edad}}<br>
            Fecha de Nacimiento: {{familia3.nacimiento}}</p>
          <a href="/admin/" class="btn btn-primary">Administrador</a>
        </div>
      </div>
</body>
</html>